.slider
    padding-top: 140px
    &__title
        font-family: 'Montserrat', sans-serif  
        font-style: normal
        font-weight: 700
        font-size: 32px
        color: #242424
    &__subtitle
        width: 800px
        margin-top: 20px
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 27px
    &__wrapper
        margin-top: 80px
.card
    margin-top: 2px
    &__icons
        display: flex